<launch>
   
    <!-- 启动C++订阅节点 -->
    <node name="listener_node" pkg="talk_pkg" type="python_to_ros" output="screen" />

    <!-- 启动rosbridge_server -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9090" />
    </include>
</launch>
